
body {
    overflow-y:scroll;
}

#main-panel {
    resize:vertical;     
    width: 750px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;  
    float: left;  
}

#editor {
    resize:vertical; 
    overflow:auto; 
    border:1px solid silver; 
    border-radius:5px; 
    min-height:300px;
    
    box-shadow: inset 0 0 10px silver;
    padding:1em;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.entity {
    color:red;

}

#info {
    position: fixed;
    margin-left: 780px; 
    top:100px;
       
    background: white;
    resize:vertical; 
    width:500px;
    min-height:100px;
     
    border:1px solid #999999; 
    border-radius:5px; 
    
   
    padding:1em;  
    visibility: hidden; 
    box-shadow: 5px 5px 1px #dddddd;
}

#pic {
  float:left; 
  width:150px;  
  max-width:100%;
  height:auto;  
  display:none;
  
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px; 
}

#title {
   margin-top: -15px; 
}


 #container {
    position:         relative;
    width : 1300px;
    height: 460px;
    border:           1px solid #FF0000;
}
  
                        
#highlighter  {
    position:         absolute;
    left:             30px;
    top:              30px;
    border:           1px solid #000000;
    width:            600px;
    height:           400px;
    
    padding:          0px;
    margin:           0px;
    
    font-family: "Courier New", Monospace;   
    font-size: 16px;
    
    word-wrap: break-word;
    word-break: normal;
    white-space:pre;
}
                        

#copy  {
    
    position:         absolute;
    left:             660px;
    top:              30px;
    border:           1px solid #000000;
    width:            600px;
    height:           400px;
    
    font-family: "Courier New", Monospace;   
    font-size: 16px;
    word-wrap: break-word;
    word-break: normal;
    white-space:pre;
}
                       
#inputArea  {
    position:         absolute;
    background-color: transparent;
    padding:          0px;
    margin:           0px;
  
    width:            600px;
    height:           400px;   
    
    left:             30px;
    top:              30px;    
    font-family: "Courier New", Monospace;   
    font-size: 16px;
    
    opacity:0.4;
    word-wrap: break-word;
    word-break: normal;
    white-space:pre;
} 

