	

#editor {
    resize:vertical; 
    overflow:auto; 
    border:1px solid silver; 
    border-radius:5px; 
    min-height:200px;
    box-shadow: inset 0 0 10px silver;
    padding:1em;
}

.entity {
    color:red;

}

#info {
   
    position: absolute;
    top:50px;
    left:200px;
     
    background: white;

    resize:vertical; 
    width:500px;
     
    border:1px solid blue; 
    border-radius:5px; 
    min-height:200px;
    box-shadow: inset 0 0 10px silver;
    padding:1em;
     
    z-index:0;  
    visibility: hidden; 
}
